*{
    padding: 0;
    margin: 0;
    margin-top: 15px;
    background: #111111;
    box-sizing: border-box;
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.brain-icon {
    width: 70px;
    height: auto;
}

.game-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 64px;
    color:#fe99a0;
    letter-spacing: 3px;
    text-shadow: 
        3px 3px 0 #000,
        6px 6px 0 rgba(0,0,0,0.2);
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin:5px;
    position:relative;
    box-shadow:1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width:100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fe99a0;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

