*{
    padding: 0;
    margin: 0;
    margin-top: 15px;
    box-sizing: border-box;
}

body {
    background: #111111;
    margin-top: 15px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.brain-icon {
    width: 70px;
    height: auto;
}

.game-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 64px;
    color:#fe99a0;
    letter-spacing: 3px;
    text-shadow: 
        3px 3px 0 #000,
        6px 6px 0 rgba(0,0,0,0.2);
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
}

.memory-game.easy {
    width: 480px;
    height: 320px;
}

.memory-game.easy .memory-card {
    width: calc(33.333% - 10px); 
    height: calc(50% - 10px);    
}

.memory-game.medium {
    width: 640px;
    height: 480px;
}

.memory-game.medium .memory-card {
    width: calc(25% - 10px);      
    height: calc(33.333% - 10px); 
}

.memory-game.hard {
    width: 640px;
    height: 640px;
}

.memory-game.hard .memory-card {
    width: calc(25% - 10px);      
    height: calc(25% - 10px);     
}


.memory-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width:100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fe99a0;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

.game-controls {
    color: #fff;
    width: 640px;
    margin: 10px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Baloo 2', cursive;
}

.stats span{
    margin-right: 15px;
}

.actions select,
.actions button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fe99a0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.playAgain {
    background: #111;
    color: #fe99a0;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;

    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #fe99a0;

    cursor: pointer;
    box-shadow: 3px 3px 0 #000;
}

.playAgain:hover {
    background: #fe99a0;
    color: #111;
}
